:root {
  --content_max_width: 60vw;
  --content_min_width: 40vw;
  --content_viewport_height: 30vh;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: rgb(110, 192, 219);

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /*hide scrollbars throughout the site to avoid the horrible affect on the layout when they appear - I think they are unneccessary with scroll wheels, trackpads, and finger controls?*/
  ::-webkit-scrollbar {
    display: none; /*Chrome, Safari and Opera */
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  margin: 0;
  padding: 0;
  height: 100dvh;
  width: 100vw;
  /*stop words from being broken as standard*/
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Main grid layout with header, main, and footer possible */
.main {
  /* Make it a fullscreeen area */
  margin: 0 auto;
  width: 100vw;
  height: 100dvh;

  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1 {
  font-size: 3.2em;
  line-height: auto;
}

/* This holds the floater #container element to allow for scrolling with a fixed header */
.scrollableMain {
  overflow-y: auto;
  height: 100%;
  pointer-events: all; /* this was needed to get the contents of the floaters scrolling as well as the main container (that's inside this!) */
}

/* The area that the floaters are attached to */
#container {
  display: block;
  flex: 1;
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  /* padding: 10px;
  height: fit-content; No! the floaters are not content because they are absolutely positioned so this will not work!!*/
  overflow: hidden; /* So it ignores the Floaters going out of the browser window*/
  transition: all 500ms ease; /* This is to smooth out changes to it's height*/
}

/* Class which is attached to new floater instances' div */
.floater {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-width: 100px; */
  /* width: fit-content; */
  min-width: var(--content_min_width);
  width: var(--content_max_width);
  min-height: 100px;
  /* height: fit-content; */
  height: var(--content_viewport_height);
  /* background-color: rgb(238, 142, 9); set in the Floater script */
  border: 3px solid;
  color: #ca5811;
  border-radius: 40px;
  padding: 40px;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  /* This is how you can set the dark mode colour scheme if it's selected on the user's system (see the @media query at the bottom for how this is used) */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  /* font-size: 2rem; */
}

#main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: fit-content;
}

iframe {
  border: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* height: var(--content_viewport_height);
  max-width: var(--content_max_width);
  min-width: var(--content_min_width); */
  overflow-y: auto !important;
}

.content-viewport {
  width: fit-content;
  /* height: var(--content_viewport_height); */
  height: 100%;
  overflow-y: auto;
  pointer-events: all !important;
}

.content-holder {
  border: none;
  height: fit-content;
  /* width: var(--content_max_width);
  min-width: var(--content_min_width); */
  width: 100%;
  pointer-events: inherit;
}

@media (prefers-color-scheme: light) {
  /* :root { */
  header,
  footer {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width: 680px) {
  :root {
    --content_max_width: 80vw;
    --content_min_width: 50vw;
    --content_viewport_height: 50vh;
  }
}
