:root {
  --content_max_width: 60vw;
  --content_min_width: 40vw;
  --content_viewport_height: 30vh;

  --colour-orange: #ee8e09;
  --colour-orange-50: #ffefde;
  --colour-orange-100: #ffdebe;
  --colour-orange-200: #ffce9e;
  --colour-orange-300: #febe7e;
  --colour-orange-400: #f49e3c;
  --colour-orange-500: #c97810;
  --colour-orange-600: #a56413;
  --colour-orange-700: #825014;
  --colour-orange-800: #412a11;
  --colour-orange-900: #341f02;
  --colour-blue: #b4d7e5;
  --colour-blue-50: #f4f9fb;
  --colour-blue-100: #eaf3f8;
  --colour-blue-200: #d4e8f0;
  --colour-blue-300: #cae2ec;
  --colour-blue-400: #bfdde9;
  --colour-blue-500: #98b5c1;
  --colour-blue-600: #7d949e;
  --colour-blue-700: #63757c;
  --colour-blue-800: #333a3e;
  --colour-blue-900: #142429;
  --colour-dark-bg: #242424;
  --colour-light-bg: #eef1f2;
  --colour-dark-text: #ede1e1;
  --colour-light-text: #242424;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--colour-blue-300);

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /*hide scrollbars throughout the site to avoid the horrible affect on the layout when they appear - I think they are unneccessary with scroll wheels, trackpads, and finger controls?*/
  ::-webkit-scrollbar {
    display: none; /*Chrome, Safari and Opera */
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  height: 100dvh;
  width: 100vw;
  /*stop words from being broken as standard*/
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  line-height: 1.5;
  font-size: 1.6rem;
}

/* Main grid layout with header, main, and footer possible */
.main {
  /* Make it a fullscreeen area */
  margin: 0 auto;
  width: 100vw;
  height: 100dvh;

  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1 {
  font-size: 3.2em;
  line-height: auto;
}

/* This holds the floater #container element to allow for scrolling with a fixed header */
.scrollableMain {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  pointer-events: all; /* this was needed to get the contents of the floaters scrolling as well as the main container (that's inside this!) */
}

/* The area that the floaters are attached to */
#container {
  display: block;
  flex: 1;
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  /* padding: 10px;
  height: fit-content; No! the floaters are not content because they are absolutely positioned so this will not work!!*/
  overflow: hidden; /* So it ignores the Floaters going out of the browser window*/
  transition: all 500ms ease; /* This is to smooth out changes to it's height*/
}

#main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: fit-content;
}

.nav-button {
  border: 1px solid;
  border-radius: 7px;
  padding: 0.4rem 0.8rem;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  color-scheme: light dark;
  color: var(--colour-orange-900);
  background-color: var(--colour-blue);
  border-color: var(--colour-blue-100);
}

.nav-button:active,
.nav-button:focus {
  outline: none;
  background-color: var(--colour-blue-100);
}

@media (prefers-color-scheme: light) {
  .nav-button {
    /* color: var(--colour-blue-100); */
    border-color: var(--colour-blue-900);
  }
}

/* Class which is attached to new floater instances' div */
.floater {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  /* width: fit-content; */
  /* min-width: var(--content_min_width); We're going to leave this to Page/LayoutManager*/
  /* width: var(--content_max_width); */
  /* min-height: 100px; */
  /* height: fit-content; */
  /* height: var(--content_viewport_height); */
  height: 300px;
  /* background-color: rgb(238, 142, 9); set in the Floater script */
  border: 3px solid;
  color: #ca5811;
  border-radius: 40px;
  padding: 40px;
}

/* For the iFrame that is attached to a FloaterIframe */
iframe {
  border: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* height: var(--content_viewport_height);
  max-width: var(--content_max_width);
  min-width: var(--content_min_width); */
  overflow-y: auto !important;
}

/* For the content-holder of a FloaterInner as a little window */
.content-viewport {
  width: fit-content;
  /* height: var(--content_viewport_height); */
  height: 100%;
  overflow-y: auto;
  pointer-events: all !important;
}

.content-holder {
  border: none;
  height: fit-content;
  /* width: var(--content_max_width);
  min-width: var(--content_min_width); */
  width: 100%;
  pointer-events: inherit;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  /* This is how you can set the dark mode colour scheme if it's selected on the user's system (see the @media query at the bottom for how this is used) */
  color-scheme: dark;
  color: var(--colour-dark-text);
  background-color: var(--colour-dark-bg);
  /* font-size: 2rem; */
}

@media (prefers-color-scheme: light) {
  /* :root { */
  header,
  footer {
    color: var(--colour-light-text);
    background-color: var(--colour-light-bg);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  :root {
    /* --colour-orange-50: var(--colour-orange-900);
    --colour-orange-100: var(--colour-orange-800);
    --colour-orange-200: var(--colour-orange-700);
    --colour-orange-300: var(--colour-orange-600);
    --colour-orange-400: var(--colour-orange-500);
    --colour-orange-500: var(--colour-orange-400); */
    --colour-blue-300: var(--colour-blue-600);
  }
}

@media screen and (max-width: 680px) {
  :root {
    --content_max_width: 80vw;
    --content_min_width: 50vw;
    --content_viewport_height: 50vh;
  }
}
